ASC/ASC.Common/Notify/Model/asc.notify.action.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="urn:asc.notify.action.xsd" xmlns="urn:asc.notify.action.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--   -->
  <xs:complexType name="actionType">
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="optional" />
  </xs:complexType>
  
  <!--   -->
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="action" type="actionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>